<!--{include header.html}-->
<!--TOP start-->
<!--{include top.html}-->
<!--TOP end-->

<!--HEAD start-->
<!--{include head.html}-->
<!--HEAD end-->
{% extends "foreground/base.html" %}
{% block content %}
<!--LIST start-->
<div id="wp" class="wp">
	<div id="pt" class="bm cl">
			<div class="z"><a href="../background" class="nvhm" title="{$title}">{$title}</a><em>&raquo;</em><a href="{{ url_for("bbs.bbs_index") }}">Forum</a><em>&raquo;</em><a href="/{{first_layer_cid}}">{{first_layer_name}}</a><em>&raquo;</em><a href="{{url_for('bbs.list_category', cid=cid) }}">{{other_layer_name}}</a><em>&raquo;</em>Publish a post</div>
	</div>
	<form method="post" autocomplete="off" id="postform" action="">
	<div id="ct" class="ct2_a ct2_a_r wp cl">
		<div class="mn">
			<div class="bm bw0 cl" id="editorbox">
				<ul class="tb cl mbw">
					<li class="a"><a href="javascript:;">Publish a post</a></li>
				</ul>
			
				<div id="postbox">
					<div class="pbt cl">
						<div class="z">
							<span><input type="text" name="subject" id="subject" class="px" onkeyup="showLength(this,'checklen',80);" style="width: 25em" tabindex="1" /></span>
							<span id="subjectchk"><strong id="checklen">80</strong> characters left to be entered</span>
						</div>
					</div>
			
					<div id="e_body_loading">
						<script type="text/javascript" src="http://py.codingfans.cc/public/ckeditor/ckeditor.js"></script>
						<script type="text/javascript" src="{{ url_for('static', filename='foreground/js/sample.js')}}" ></script>
						<textarea  class="ckeditor"  name="content"  id="editor1"></textarea>
					</div>
				
					<div id="post_extra" class="ptm cl">
						<div id="post_extra_tb" class="cl" onselectstart="return false">
						<label id="extra_price_b" class="a" onclick="showExtra('extra_price')"><span id="extra_price_chk">Price</span></label>
						</div>
					
						<div id="post_extra_c">
							<div id="extra_price_c" class="exfm cl">
							Price:<input type="text" id="price" name="price" class="px pxs" onblur="extraCheck(2)" value="0" /> coins<span class="xg1">(at most 30 )</span>
							</div>
						</div>
					</div>
					<input type="hidden" id="classid" name="classid" value="{$classId}" />
					
					<div class="mtm mbm pnpost">
						<button type="submit" id="postsubmit" class="pn pnc" value="true" name="topicsubmit">
						<span>Post</span>
						</button>
					</div>
				
				</div>
			</div>
		</div>
	</div>
	</form>
	
	<script>
	
	var BROWSER = {};
	var USERAGENT = navigator.userAgent.toLowerCase();
	browserVersion({'ie':'msie','firefox':'','chrome':'','opera':'','safari':'','mozilla':'','webkit':'','maxthon':'','qq':'qqbrowser'});
	if(BROWSER.safari) {
		BROWSER.firefox = true;
	}
	BROWSER.opera = BROWSER.opera ? opera.version() : 0;

	function showLength(obj,checklen,maxlen){
	
		var v = obj.value, charlen = 0, maxlen = !maxlen ? 200 : maxlen, curlen = maxlen, len = strlen(v);
		for(var i = 0; i < v.length; i++) {
			if(v.charCodeAt(i) < 0 || v.charCodeAt(i) > 255) {
				curlen -= 2;
			}
		}
		if(curlen >= len) {
			document.getElementById("checklen").innerHTML = curlen - len;
		} else {
			obj.value = mb_cutstr(v, maxlen, true);
		}
	
	}
	
	function strlen(str) {
		return (BROWSER.ie && str.indexOf('\n') != -1) ? str.replace(/\r?\n/g, '_').length : str.length;
	}
	
	function mb_cutstr(str, maxlen, dot) {
		var len = 0;
		var ret = '';
		var dot = !dot ? '...' : '';
		maxlen = maxlen - dot.length;
		for(var i = 0; i < str.length; i++) {
			len += str.charCodeAt(i) < 0 || str.charCodeAt(i) > 255 ? 3 : 1;
			if(len > maxlen) {
				ret += dot;
				break;
			}
			ret += str.substr(i, 1);
		}
		return ret;
	}
	
	function extraCheck(len){
	
		strlen=document.getElementById('price').value.length;
		if(strlen>len){
			alert('at most 30');
			document.getElementById('price').value=0;
		}else{
		
			if(document.getElementById('price').value>30){
			
				alert('at most 30');
				document.getElementById('price').value=30;
			
			}
		
		}
	
	}
	</script>
</div>
<!--LIST end-->
{% endblock %}
<!--FOOT start-->
<!--{include footer.html}-->
<!--FOOT end-->
</body>
</html>

