<!--{include header.html}-->
<!--TOP start-->
<!--{include top.html}-->
<!--TOP end-->

<!--HEAD start-->
<!--{include head.html}-->
<!--HEAD end-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{ title }}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='foreground/css/style.css')}}" />
	<!--{if $thispage=="index.php"}-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='foreground/css/index.css')}}" />
	<!--{elseif $thispage=='list.php'}-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='foreground/css/list.css')}}" />
	<!--{elseif $thispage=='detail.php'}-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='foreground/css/view.css')}}" />
	<!--{elseif $thispage=='user.php'}-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='foreground/css/home.css')}}" />
	<!--{/if}-->
</head>

<body>

<div id="toptb" class="cl">
	<div class="wp">
		<div class="z"><a href="javascript:;" onclick="setHomepage('{$web_url}')" >Set as homepage</a><a href="javascript:;" onclick="window.external.AddFavorite(location.href,document.title);return false;">Add to favorite</a></div>
	</div>
</div>
<script>
function setHomepage(sURL) {

		document.body.style.behavior = 'url(#default#homepage)';
		document.body.setHomePage(sURL);

}
</script>

<div id="hd">
	<div class="wp">
		<div class="hdc cl">
			<h2><a href="./" title="{$title}"><img src="{{ url_for('static', filename='foreground/images/logo.jpg')}}" height="80" border="0" /></a></h2>
            {% if current_user.is_authenticated %}
				<div id="um">
					<div class="avt y"><a href="home_tx.php"><img src="{{ url_for('static', filename=current_user.portrait)}}" /></a></div>
					<p>
					<strong class="vwmy"><a href="home.php" target="_blank">{{ current_user.username }}</a></strong>
					<span class="pipe">|</span><a href="home.php">Settings</a>
					{% if current_user.usertype %}
					    <span class="pipe">|</span><a href="admin.php" target="_blank">Menu</a>
					{% endif %}
					<span class="pipe">|</span><a href="{{ url_for( 'user_info.user_logout' ) }}">Logout</a>
					</p>
					<p>
					<a id="extcreditmenu" href="#">Point: {{ current_user.grade }}</a>
					<span class="pipe">|</span>User Permission: {{"Administrator" if current_user.usertype else "Ordinary user" }}
					</p>
				</div>
				{% else %}
				<form method="post" autocomplete="off" id="lsform" action="{{ url_for( 'user_info.user_login' ) }}">
				<div class="fastlg cl">
					<div class="y pns">
						<table cellspacing="0" cellpadding="0">
							<tr>
								<td><span class="ftid">Username</span></td>
								<td><input type="text" name="username" value="" id="ls_username" autocomplete="off" class="px vm" /></td>
								<td class="fastlg_l">
									<label for="ls_cookietime"><input type="checkbox" name="cookietime" id="ls_cookietime" class="pc" value="true" />AutoLogin</label>
								</td>
								<td>&nbsp;<a href="getpass.php">Forgot password</a></td>
							</tr>
							<tr>
								<td><label for="ls_password" class="z psw_w">Password</label></td>
								<td><input type="password" name="password" id="ls_password" class="px vm" autocomplete="off" /></td>
								<td class="fastlg_l"><button type="submit" class="pn vm" name="loginsubmit" value="true" style="width:75px;"><em>Login In</em></button></td>
								<td>&nbsp;<a href="{{ url_for('user_info.user_register') }}" class="xi2 xw1">Sign Up Now</a></td>
							</tr>
						</table>
					</div>
				</div>
				</form>
            {% endif %}
		</div>

		<div id="nv">
			<ul>
				<li class="a" id="mn_forum" ><a href="{{url_for('bbs.bbs_index')}}" hidefocus="true" title="{$web_name}">Index</a><span>{$web_name}</span></li>
				{% for category in first_layer_category %}
				<li class="a" id="mn_home" ><a href="/{{category.cid}}" hidefocus="true" title="Space">{{ category.classname }}</a></li>
				{% endfor %}


			</ul>
		</div>

		<div id="scbar" class="cl">
			<form id="scbar_form" method="get" autocomplete="off" action="search.php" target="_blank">
			<table cellspacing="0" cellpadding="0">
				<tr>
					<td class="scbar_icon_td"></td>
					<td class="scbar_txt_td"><input type="text" name="keywords" id="scbar_txt" onfocus="if(this.value=='search content'){this.value='';this.style.color='#666';}" onblur="if(this.value==''){this.value='search content';this.style.color='#ccc';}" value="search content" style="color:#CCCCCC" autocomplete="off" /></td>
					<td class="scbar_btn_td">
						<button type="submit" name="searchsubmit" id="scbar_btn" class="pn pnc" value="true"><strong class="xi2 xs2">search</strong></button>
					</td>
					<td class="scbar_hot_td">
						<div id="scbar_hot">
							<strong class="xw1">Trending Topic: </strong>
							<!--{loop $keyWords $kwVal}-->
							<a href="search.php?keywords={$kwVal}" target="_blank" class="xi2">{{ "python" }}</a>
							<!--{/loop}-->
						</div>
					</td>
				</tr>
			</table>
			</form>
		</div>
	</div>
</div>

{% block content %}
{% endblock %}

<!--FOOT start-->
<!--{include footer.html}-->
<!--FOOT end-->
<div id="ft" class="wp cl">
	<div id="flk" class="y">
		<p>
		<a href="#" >{{sponsor.icp}}</a><span class="pipe">|</span><strong><a href="" target="_blank">{{sponsor.btm}}</a></strong>
		</p>
		<p class="xs0">
			Time Now Is: {{time_now}}
		</p>
	</div>
	<div id="frt">
		<p>Powered by <strong><a href="" target="_blank">{{sponsor.sname}}</a></strong> <em>V2</em></p>
		<p class="xs0">&copy; {{current_year}} <a href="" target="_blank">{{sponsor.inc}} Inc.</a></p>
	</div>
</div>
</body>
</html>

