<!--{include header.html}-->
<!--TOP start-->
<!--{include top.html}-->
<!--TOP end-->

<!--HEAD start-->
<!--{include head.html}-->
<!--HEAD end-->
{% extends "foreground/base.html" %}
{% block content %}
<!--LIST start-->
<div id="wp" class="wp">
	<div id="pt" class="bm cl">
		<div class="z">
			<a href="./" class="nvhm" title="{$title}">{$title}</a><em>&raquo;</em><a href="{{ url_for("bbs.bbs_index") }}">Forum</a><em>&raquo;</em><a href="/{{first_layer_cid}}">{{first_layer_name}}</a><em>&raquo;</em><a href="{{url_for('bbs.list_category', cid=cid, page=1) }}">{{other_layer_name}}</a><em>&raquo;</em><a href="detail.php?id={$Id}">{{the_post.title}}</a>
		</div>
		<div class="z"></div>
	</div>


	<div id="ct" class="wp cl">
		<div id="pgt" class="pgs mbm cl pbm bbs">
			<div class="pgt"></div>
			<span class="y pgb" id="visitedforums"><a href="">Return</a></span>
			<a id="newspecial" href="" target="_blank" title="New post"><img src="{{ url_for('static', filename='foreground/images/pn_post.png')}}" alt="New post" /></a>
			<a id="post_reply" href="#f_pst" title="Reply"><img src="{{ url_for('static', filename='foreground/images/pn_reply.png')}}" alt="Reply" /></a>
		</div>
		{% if current_user.usertype == 1 %}
		<div id="modmenu" class="xi2 pbm">
			<a href="">Delete post</a><span class="pipe">|</span>
			<a href="">Pin</a><span class="pipe">|</span>
			<a href="">Highlight</a><span class="pipe">|</span>
			<a href="{{ url_for('bbs.post_essence', ptid=postid)  }}">Essence</a><span class="pipe">|</span>
		</div>
		{% endif %}

		<div id="postlist" class="pl bm">
			<!--楼主 START-->
			<!--{if $Lpage==1}-->

			<table cellspacing="0" cellpadding="0">
				<tr>
					<td class="pls ptm pbm">
						<div class="hm">
							<span class="xg1">Views:</span> <span class="xi1">{{the_post.hits}}</span><span class="pipe">|</span><span class="xg1">Replies:</span> <span class="xi1">{{the_post.replycount}}</span>
						</div>
					</td>
					<td class="plc ptm pbn">
						<div class="y">
							<!--{if $topid}-->
							<a href="" title="上一主题"><img src="{{url_for('static', filename='foreground/images/thread-prev.png')}}" alt="上一主题" class="vm" /></a>
							<!--{/if}-->
							<!--{if $downid}-->
							<a href="" title="下一主题"><img src="{{url_for('static', filename='foreground/images/thread-next.png')}}" alt="下一主题" class="vm" /></a>
							<!--{/if}-->
						</div>
						<h1 class="ts">
							{{the_post.title}}
						</h1>
					</td>
				</tr>
			</table>
			<style>
			.max_pic{max-width:120px;}
			</style>
{#        {% for reply in the_replies %}#}
			<div id="post_{$Id}">

				<table id="pid{$Id}" cellspacing="0" cellpadding="0">

					<tr>
						<td class="pls" rowspan="2">

							<div class="pi">
								<div class="authi"><a href="#" target="_blank" class="xw1">Author: {{ the_author.id }}</a></div>
							</div>
							<!--显示用户信息 START-->

							<div class="p_pop blk bui" id="userinfo{$Id}" style="display:none; margin-top: -11px;" onmouseout="showdpic('userinfo','{$Id}')">
								<div class="m z">
                                    {% if the_author.portrait %}
									<div id="userinfo{$Id}_ma"><img src="{{url_for('static', filename=the_author.portrait)}}" class="max_pic" /></div>
								    {% else %}
                                    <div id="userinfo{$Id}_ma"><img src="{{url_for('static', filename='foreground/images/avatar_blank.gif')}}" class="max_pic" /></div>
                                    {% endif %}
                                </div>
								<div class="i y">
								<div>
								<strong>Author: {{ the_author.id }}</strong>
								<em>Online</em>
								</div>
								<dl class="cl"><dt>Register time</dt><dd>{{the_author.regtime}}</dd><dt>Points</dt><dd>{{the_author.grade}}</dd><dt>Last login time</dt><dd>{{the_author.lasttime}}</dd></dl>
								<div class="imicn">
								<a href="#" target="_blank" title="detail info"><img src="{{url_for('static', filename='foreground/images/userinfo.gif')}}" alt="detail info" /></a>
								</div>
								<div id="avatarfeed"><span id="threadsortswait"></span></div>
								</div>
							</div>
							<!--显示用户信息 END-->

							<div>
							<div class="avatar" onmouseover="showbpic('userinfo','{$Id}')">
                                {% if the_author.portrait %}
                                <img src="{{url_for('static', filename=the_author.portrait)}}" class="max_pic" />
							    {% else %}
                                <img src="{{url_for('static', filename='foreground/images/avatar_blank.gif')}}" class="max_pic" />
                                {% endif %}
                            </div>
                                {% if the_author.usertype %}
							    <p><em>administrator</em></p>
                                {% else %}
                                <p><em>ordinary user</em></p>
                                {% endif %}

							<p><em>{{the_author.email}}</em></p>
							</div>
							
						</td>
						<td class="plc">
						<div class="pi">
						<div id="fj" class="y">
						<label class="z">Go</label>
						<input id="louceng" type="text" class="px p_fre z" size="2" title="Go" />
						<a href="javascript:;" id="fj_btn" class="z" title="Go"><img src="{{url_for('static', filename='foreground/images/fj_btn.png')}}" onclick="golouceng()" alt="Go" class="vm" /></a>
						<script>
						function golouceng(){
							location.href='detail.php?id={$Id}#post_'+document.getElementById('louceng').value;
						}
						</script>
						</div>
						<strong>
						<a href="" id="postnum4">Host</a>
						</strong>
						<div class="pti">
						<div class="pdbt">
						</div>
						<div class="authi">
						<img class="authicn vm" id="authicon{$Id}" src="{{url_for('static', filename='foreground/images/online_admin.gif')}}" />
						<em id="authorposton{$Id}">Published on {{the_post.addtime}}</em>
						<!--<span class="pipe">|</span><a href="#">只看该作者</a>-->
						</div>
						</div>
						</div><div class="pct">
						<style type="text/css">.pcb{margin-right:0}</style>
						<div class="pcb">
                        {% if the_post.rate != 0 %}
                            {% if not current_user.is_authenticated or current_user.usertype == 0 %}
							<!--{if !$GuanLi && $_COOKIE['uid']!=$authorid && !$MyOrder}-->
							<div class="locked">
								<a href="" class="y viewpay" title="购买主题">Buy</a>
								<em class="right">
								</em>
								You need to pay <strong>{{the_post.rate}} coins </strong> to browse this ticket.
							</div>
                            {% else %}
							<div class="locked">
								Price: <strong>{{the_post.rate}} coins </strong>
							</div>
							<div class="t_fsz">
							<table cellspacing="0" cellpadding="0">
								<tr>
									<td class="t_f" id="postmessage_{$Id}">
									{{the_post.content | safe}}
									</td>
								</tr>
							</table>
							</div>
                            {% endif %}
                        {% else %}

						<div class="t_fsz">
						<table cellspacing="0" cellpadding="0">
							<tr>
								<td class="t_f" id="postmessage_{$Id}">
								{{the_post.content | safe}}
								</td>
							</tr>
						</table>
						</div>

                        {% endif %}
						<div id="comment_{$Id}" class="cm">
						</div>
						<div id="post_rate_div_{$Id}"></div>
						</div></div>
						
						</td>
					</tr>

					<tr>
						<td class="plc plm">
                            {% if the_post.elite == 1 %}

						<div class="modact">Essence post</div>
                            {% endif %}



                        {% if the_author.signature %}
						<div class="sign" style="max-height:100px;maxHeightIE:100px;">{{the_author.signature}}</div>

                        {% endif %}
						</td>
					</tr>
					<tr>
						<td class="pls"></td>
						<td class="plc">
							<div class="po">

                                {% if current_user.usertype == 1 %}
								<span class="y">
									<label for="manage5">
									<a href="">Delete</a><span class="pipe">|</span><a href="">Sticky</a><span class="pipe">|</span><a href="">Essence</a>
									</label>
								</span>

                                {% endif %}
								<div class="pob cl">
									<em>
										<a class="fastre" href="#f_pst">Reply</a>
									</em>
								</div>
							</div>
						</td>
					</tr>
					<tr class="ad">
						<td class="pls"></td>
						<td class="plc"></td>
					</tr>
				</table>

			</div>
			<!--{/if}-->
			<!--楼主 END-->
{#        {% endfor %}#}
			<!--回复列表 START-->
            {% for reply in the_replies %}
			<div id="post_${setFloor($hkey)}">
				<table id="pid{$hval['id']}" cellspacing="0" cellpadding="0">
					<tr>
						<td class="pls" rowspan="2">
							<div class="pi">
								<div class="authi">Author: {{ reply.authorid }}</div>
							</div>
							<!--显示用户信息 START-->
							<div class="p_pop blk bui" id="userinfo{$hval['id']}" style="display:none; margin-top: -11px;" onmouseout="showdpic('userinfo','{$hval['id']}')">
								<div class="m z">
                                    {% if rep_user[reply.authorid].portrait %}
									<div id="userinfo{$hval['id']}_ma"><img src="{{url_for('static', filename=rep_user[reply.authorid].portrait)}}" class="max_pic" /></div>
								    {% else %}
                                    <div id="userinfo{$hval['id']}_ma"><img src="{{url_for('static', filename='foreground/images/avatar_blank.gif')}}" class="max_pic" /></div>
                                    {% endif %}
                                </div>
								<div class="i y">
								<div>
								<strong>Author: {{ reply.authorid }}</strong>
								<em>Online</em>
								</div>
								<dl class="cl"><dt>Register time</dt><dd>{{rep_user[reply.authorid].regtime}}</dd><dt>Points</dt><dd>{{rep_user[reply.authorid].grade}}</dd><dt>Last login time</dt><dd>{{rep_user[reply.authorid].lasttime}}</dd></dl>
								<div class="imicn">
								<a href="#" target="_blank" title="detail info"><img src="{{url_for('static', filename='foreground/images/userinfo.gif')}}" alt="detail info" /></a>
								</div>
								<div id="avatarfeed"><span id="threadsortswait"></span></div>
								</div>
							</div>
							<!--显示用户信息 END-->
							<div>
								<div class="avatar" onmouseover="showbpic('userinfo','{$hval['id']}')">
									{% if rep_user[reply.authorid].portrait %}
                                    <img src="{{url_for('static', filename=rep_user[reply.authorid].portrait)}}" class="max_pic" />
								    {% else %}
                                    <img src="{{url_for('static', filename='foreground/images/avatar_blank.gif')}}" class="max_pic" />
                                    {% endif %}
                                </div>
                                {% if rep_user[reply.authorid].usertype %}
							    <p><em>administrator</em></p>
                                {% else %}
                                <p><em>ordinary user</em></p>
                                {% endif %}
                            {% if rep_user[reply.authorid].email %}
							<p><em>{{rep_user[reply.authorid].email}}</em></p>
                            {% endif %}
							</div>
						</td>
						<td class="plc">
						<div class="pi">
							<strong><a>第{{ loop.index }}楼</a></strong>
							<div class="pti">
								<div class="pdbt">
								</div>
								<div class="authi">
									<img class="authicn vm" id="authicon{$hval['id']}" src="{{url_for('static', filename='foreground/images/online_admin.gif')}}" />
									<em id="authorposton{$hval['id']}">Published on <span title="${formatTime($hval['addtime'],false)}">{{reply.addtime}}</span></em>
									<!--<span class="pipe">|</span><a href="#">只看该作者</a>-->
								</div>
							</div>
						</div>
						<div class="pct">
							<div class="pcb">

                                {% if reply.isdisplay %}
								<div class="locked">Tip: <em>This reply has been blocked by an administrator or compere.</em></div>

                                {% else %}
								<div class="t_fsz">
									<table cellspacing="0" cellpadding="0">
										<tr>
											<td class="t_f" id="postmessage_{$hval['id']}">
											{{reply.content | safe}}
											</td>
										</tr>
									</table>
								</div>
                                {% endif %}

								<div id="comment_{$hval['id']}" class="cm">
								</div>
								<div id="post_rate_div_{$hval['id']}"></div>
							</div>
						</div>

                        {% if rep_user[reply.authorid].autograph %}
						<div class="sign" style="max-height:100px;maxHeightIE:100px;">{{ rep_user[reply.authorid].autograph }}</div>

                        {% endif %}
						</td>
					</tr>
					<tr>
						<td class="plc plm"></td>
					</tr>
					<tr>
						<td class="pls"></td>
						<td class="plc">
							<div class="po">
                                {% if current_user.usertype %}
								<span class="y">
									<label for="manage5">
									<a href="detail.php?id={$Id}&hid={$hval['id']}&delht=1">Delete</a><span class="pipe">|</span><a href="detail.php?id={$Id}&hid={$hval['id']}&istopht=1">Sticky</a><span class="pipe">|</span><a href="detail.php?id={$Id}&hid={$hval['id']}&isdislpay=1">Block</a>
									</label>
								</span>
								{% endif %}
								<div class="pob cl">
									<em>
										<a class="fastre" href="#f_pst">Reply</a>
									</em>
								</div>
							</div>
						</td>
					</tr>
					<tr class="ad">
						<td class="pls"></td>
						<td class="plc"></td>
					</tr>
				</table>

			</div>
            {% endfor %}
			<!--{/loop}-->
			<!--回复列表 END-->
		</div>
		
		<div class="pgs mtm mbm cl">
			<span class="pgb y" id="visitedforumstmp">
			<a href="">Return</a></span>
			<a id="newspecialtmp" href="" target="_blank" title ="New post"><img src="{{ url_for('static', filename='foreground/images/pn_post.png')}}" alt="New post" /></a>
			<a id="post_replytmp" href="#f_pst" title="Reply"><img src="{{ url_for('static', filename='foreground/images/pn_reply.png')}}" alt="Reply" /></a>
		</div>
		<div style="width:960px; margin:0 auto; padding:10px 0px; text-align:right">
		    <a href="{{ url_for('bbs.list_detail',postid=classid ,page=1) }}">Index</a>
            {% if data["pre"] %}
            <a href="{{ url_for('bbs.list_detail',postid=classid ,page=data["pre"]) }}">Prev</a>
{#            {% else %}#}
{#            <a>Prev</a>#}
            {% endif %}
            {% if data["next"] %}
            <a href="{{ url_for('bbs.list_detail',postid=classid ,page=data["next"]) }}">Next</a>
            {% endif %}

            <a href="{{ url_for('bbs.list_detail',postid=classid ,page=data["pages"]) }}">End</a>
            | Total <span>{{ data["total"] }}</span> records |  show <span>{{ data['per_page'] }}</span> records per page |  <span>1-{{ length }}</span> record on this page  |  Page<span>{{ data['current'] }}/{{ data['pages'] }}</span>
		</div>
		<!--回帖 START-->
		<div id="f_pst" class="pl bm bmw">
			<form method="post" autocomplete="off" id="fastpostform" action="detail.php">
			<table cellspacing="0" cellpadding="0">
				<tr>
					<td class="pls">
                        {% if current_user.portrait %}
						<div class="avatar"><img src="{{ url_for('static', filename=current_user.portrait) }}" class="max_pic" /></div>
                        {% else %}
                        <div class="avatar"><img src="{{ url_for('static', filename='foreground/images/avatar_blank.gif') }}" class="max_pic" /></div>
                        {% endif %}
					</td>
					<td class="plc">
						<span id="fastpostreturn"></span>
						<div class="cl">
							<div id="fastsmiliesdiv" class="y">

                                    <script type="text/javascript" src="{{ url_for('static', filename='foreground/ckeditor/ckeditor.js')}}"></script>
						            <script type="text/javascript" src="{{ url_for('static', filename='foreground/js/sample.js')}}" ></script>
                                    <textarea name="message" id="editor1" class="ckeditor1"></textarea>
									<script type="text/javascript">
									//<![CDATA[

										// Replace the <textarea id="editor"> with an CKEditor
										// instance, using default configurations.
										CKEDITOR.replace( 'editor1',
											{
												{#extraPlugins : 'uicolor',#}
												toolbar :
												[
													[ 'Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-', 'Link', 'Unlink' ],
													{#[ 'UIColor' ]#}
												]
											});

									//]]>
									</script>
                                <br />

							</div>
                            <div>
							<p class="ptm pnpost">
								<button type="submit" name="replysubmit" id="fastpostsubmit" class="pn pnc vm" value="replysubmit" tabindex="5">
								<strong>Reply</strong></button>
							</p>
                            </div>
						</div>
						<input name="id" type="hidden" value="{$Id}" />
						<input name="classid" type="hidden" value="{$classId}" />
					</td>
				</tr>
			</table>
			</form>
		</div>
		<!--回帖 END-->
	</div>
		

</div>
<!--LIST end-->
<script>
function showbpic(obj1,obj2){

	document.getElementById(obj1+obj2).style.display='block';
	//document.getElementById(obj1+obj2+'_ma').innerHtml=document.getElementById('avatar'+obj2).innerHtml;

}

function showdpic(obj1,obj2){

	document.getElementById(obj1+obj2).style.display='none';
	//document.getElementById(obj1+obj2+'_ma').innerHtml='';

}
</script>

<!--FOOT start-->
<!--{include footer.html}-->
<!--FOOT end-->
<style>
	.paylist{
		z-index:20;
		left:50%;/*ff ie7*/
		top:50%;/*ff ie7*/
		background:#FFFFFF;
		margin-left:-100px!important;/*ff ie7 该值为本身宽的一半 */
		margin-top:-60px!important;/*ff ie7 该值为本身高的一半*/
		margin-top:0px;
		position:fixed!important;/*ff ie7*/
		position:absolute;/*ie6*/
		_top:       expression(eval(document.compatmode &&
					document.compatmode=='css1compat') ?
					documentelement.scrolltop + (document.documentelement.clientheight-this.offsetheight)/2 :/*ie6*/
					document.body.scrolltop + (document.body.clientheight - this.clientheight)/2);/*ie5 ie5.5*/
	}
    #fastsmiliesdiv{
        width: 100%;
    }
</style>
{#<div class="paylist" style="width:410px; overflow:hidden; border:5px solid #ccc;<!--{if empty($_GET['pay'])}--> display:none;<!--{/if}-->">#}
{#	<form id="payform" method="post" autocomplete="off" action="">#}
{#	<div class="f_c">#}
{#		<h3 class="flb">#}
{#			<em id="return_">购买主题</em>#}
{#			<span>#}
{#				<a href="detail.php?id={$Id}" class="flbc" title="关闭">关闭</a>#}
{#			</span>#}
{#		</h3>#}
{#		<div class="c">#}
{#			<table class="list" cellspacing="0" cellpadding="0" style="width:400px">#}
{#				<tr>#}
{#					<td width="20"></td>#}
{#					<td><b>帖子</b></td>#}
{#					<td width="80"><b>作者</b></td>#}
{#					<td width="100"><b>售价(积分)</b></td>#}
{#				</tr>#}
{#				<!--{loop $OrderList $key $val}-->#}
{#				<tr>#}
{#					<td><input type="checkbox" name="oidarr[{$val['oid']}]" value="{$val['authorid']},{$val['rate']}" /></td>#}
{#					<td>{$val['title']}</td>#}
{#					<td>${getUserName($val['authorid'])}</td>#}
{#					<td>{$val['rate']}</td>#}
{#				</tr>#}
{#				<!--{/loop}-->#}
{#				<tr>#}
{#					<td colspan="3"><b>总计：</b></th>#}
{#					<td><b>{$allpay['zpay']}</b></td>#}
{#				</tr>#}
{#				<tr>#}
{#					<td colspan="4">#}
{#						<div class="o pns">#}
{#						<button type="submit" name="paysubmit" class="pn pnc" value="true"><span>购买</span></button>#}
{#						<button type="submit" name="delsubmit" class="pn pnc" value="true"><span>删除</span></button>#}
{#						</div>#}
{#					</th>#}
{#				</tr>#}
{#			</table>#}
{#		</div>#}
{#	</div>#}
{#	</form>#}
{#</div>#}
{% endblock %}
</body>
</html>

