{% extends "foreground/base.html" %}
{% block content %}


<!--CONTENT start-->
<div id="wp" class="wp">
	<div id="pt" class="bm cl">
		<div class="z">
			<a href="" class="nvhm" title="Kalath Forum">Kalath Forum</a><em>&raquo;</em><a href="{{ url_for("bbs.bbs_index") }}">Forum</a>
            {% if cid %}
            <em>&raquo;</em><a href="">{{ the_category.classname }}</a>
            {% endif %}
		</div>
		<div class="z"></div>
	</div>

	<div id="ct" class="wp cl">
		<div id="chart" class="bm bw0 cl">
			<div class="y">
				<p class="chart z">
				Posts: <em>{{posts}}</em><span class="pipe">|</span>
				Members: <em>{{user_count}}</em><span class="pipe">|</span>
				Welcome new member: <em>{{new_user.username}}</em>
				</p>
			</div>
		</div>

		<div class="mn">

			<div class="fl bm">
				{% if cid == 0 %}
					{% for category in first_layer_category %}
						<div class="bm bmw  cl">
					<div class="bm_h cl">
						<h2><a href="/{{category.cid}}">{{category.classname}}</a></h2>
					</div>
					<div id="category_1" class="bm_c">
						<table cellspacing="0" cellpadding="0" class="fl_tb">
							{% for other in other_layer_category %}
								{% if other.parentid == category.cid %}
									<tr class="fl_row">
									<td class="fl_icn" >
										<a href="{{url_for('bbs.list_category', cid=other.cid, page=1)}}"><img src="{{ url_for('static', filename=other.classpic)}}" alt="{{ other.classname }}" /></a>
									</td>
									<td>
										<h2><a href="{{url_for('bbs.list_category', cid=other.cid, page=1)}}" style="color:{$val['namestyle']}">{{ other.classname }}</a></h2>
										{% if other.description %}
											<p class="xg2">{{ other.description }}</p>
										{% endif %}

										<p>Compere: <span class="xi2">{{ other.compere }}</span></p>

									</td>
									<td class="fl_i">
										<span class="xi2">{{ other.replycount }}</span><span class="xg1"> / {{ other.postcount }}</span>
									</td>
									<td class="fl_by">
										<div>
											{% for post in post_s %}
												{% if post.classid == other.cid %}
													<a href="" src="" style="color: dodgerblue"> {{ post.title }} </a>
													<br/>
													{{ post.addtime }}
												{% endif %}
											{% endfor %}
										</div>
									</td>
								</tr>
								{% endif %}
							{% endfor %}
						</table>
					</div>
				</div>
					{% endfor %}
				{% else %}
					<div class="bm bmw  cl">
					<div class="bm_h cl">
						<h2><a href="/{{cid}}">{{the_category.classname}}</a></h2>
					</div>
					<div id="category_1" class="bm_c">
						<table cellspacing="0" cellpadding="0" class="fl_tb">
							{% for other in other_layer_category %}
								{% if other.parentid == the_category.cid %}
									<tr class="fl_row">
									<td class="fl_icn" >
										<a href="{{url_for('bbs.list_category', cid=other.cid, page=1)}}"><img src="{{ url_for('static', filename=other.classpic)}}" alt="{{ other.classname }}" /></a>
									</td>
									<td>
										<h2><a href="{{url_for('bbs.list_category', cid=other.cid, page=1)}}" style="color:{$val['namestyle']}">{{ other.classname }}</a></h2>
										<p class="xg2">{{ other.description }}</p>

										<p>Compere: <span class="xi2">{{ other.compere }}</span></p>

									</td>
									<td class="fl_i">
										<span class="xi2">{{ other.replycount }}</span><span class="xg1"> / {{ other.postcount }}</span>
									</td>
									<td class="fl_by">
										<div>
											{{ other.lastpost }}
										</div>
									</td>
								</tr>
								{% endif %}
							{% endfor %}
						</table>
					</div>
				</div>
				{% endif %}
			</div>


			<div class="bm lk">
				<div id="category_lk" class="bm_c ptm">
					<ul class="m mbn cl">
						{% for link in links %}
							<li class="lk_logo mbm bbda cl">
								<img src="{{ url_for('static', filename=link.logo)}}" border="0" alt="{{link.name}}" />
								<div class="lk_content z">
									<h5><a href="{{link.url}}" target="_blank">{{link.name}}</a></h5>
									<p>{{link.description}}</p>
								</div>
                            </li>
						{% endfor %}
					</ul>

<!--					<ul class="x mbm cl">-->
<!--						&lt;!&ndash;{loop $textUrl $tindex $turl}&ndash;&gt;-->
<!--						<li><a href="{$turl['url']}" target="_blank" title="{$turl['name']}">{$turl['name']}</a></li>-->
<!--						&lt;!&ndash;{/loop}&ndash;&gt;-->
<!--					</ul>-->
				</div>
			</div>


		</div>
	</div>
</div>
<!--CONTENT end-->

{% endblock %}