<!--{include header.html}-->
<!--TOP start-->
<!--{include top.html}-->
<!--TOP end-->

<!--HEAD start-->
<!--{include head.html}-->
<!--HEAD end-->


{% extends "foreground/base.html" %}
{% block content %}
<!--LIST start-->
<div id="wp" class="wp">
	<div id="pt" class="bm cl">
			<div class="z">
			<a href="./" class="nvhm" title="{$title}">{$title}</a><em>&raquo;</em><a href="{{ url_for("bbs.bbs_index") }}">Forum</a><em>&raquo;</em><a href="/{{first_layer_cid}}">{{ first_layer_name }}</a><em>&raquo;</em><a href="{{url_for('bbs.list_category', cid=cid, page=1) }}">{{other_layer_name}}</a>
			</div>
	</div>
	<div class="boardnav">
		<div id="ct" class="wp cl" style="margin-left:145px">
			<div id="sd_bdl" class="bdl" style="width:130px;margin-left:-145px">
				<div class="tbn" id="forumleftside"><h2 class="bdl_h">Sections</h2>
					<!--{loop $LTmenu $inde $bk}-->
                    {% for category in first_layer_category %}
					<dl class="a" id="lf_{$bk['cid']}">
						<dt><a href="javascript:;" title="{{category.classname}}">{{category.classname}}</a></dt>
						<!--{loop $LTsMenu $key $val}-->
                        {% for other in other_layer_category %}
                            {% if other.parentid == category.cid %}
						<!--{if $val['parentid']==$bk['cid']}-->
{#						<dd <!--{if $val['cid']==$OnCid}-->class="bdl_a"<!--{/if}-->>#}
						<a href="{{url_for('bbs.list_category', cid=other.cid, page=1)}}" title="{{other.classname}}"> {{other.classname}} </a><br>
						</dd>
						<!--{/if}-->
                            {% endif %}
						<!--{/loop}-->
                        {% endfor %}
					</dl>
					<!--{/loop}-->
                    {% endfor %}
				</div>
			</div>
			
			<div class="mn">
			
				<div class="bm bml pbn">
					<div class="bm_h cl">
					<h1 class="xs2">
					<a href="">{{other_layer_name}}</a>
					<span class="xs1 xw0 i">Today: <strong class="xi1">{{ post_num }}</strong><span class="pipe">|</span>Subjects: <strong class="xi1">{{post_num}}</strong></span></h1>
					</div>
					<!--{if !empty($compere)}-->
					<div class="bm_c cl pbn">
						
						<div>
							Compere: <span class="xi2">{{compere_name}}</span>
						</div>
						
					</div>
					<!--{/if}-->
				</div>
				
				<div id="pgt" class="bm bw0 pgs cl">
				<span class="pgb y"  ><a href="{{ url_for("bbs.bbs_index") }}">Return</a></span>
				<a href="{{ url_for('bbs.publish_post', cid=classid) }}" id="newspecial" title="New post"><img src="{{ url_for('static', filename = "foreground/images/pn_post.png") }}" alt="New post" /></a></div>
				
				<div id="threadlist" class="tl bm bmw">
				<div class="th">
				<table cellspacing="0" cellpadding="0">
				<tr>
				<th colspan="2">
				<div class="tf">
				Filter:
				<a href="" class="xi2">All</a><span class="pipe">|</span><a href="" class="xi2">Essence</a></div>
				</th>
				<td class="by">Author</td>
				<td class="num">Reply/View</td>
				<td class="by">Last reply</td>
				</tr>
				</table>
				</div>
				<div class="bm_c">
				<form method="post" autocomplete="off" name="moderate" id="moderate" action="">
				<table summary="forum_2" id="forum_2" cellspacing="0" cellpadding="0">
					{% for post in posts %}

						<tr>
							<td class="icn">
							<a href="{{ url_for('bbs.deleted_post', ptid=post.id) }}" title="{{ post.title }}"><img src="{{ url_for('static', filename='foreground/images/folder_common.gif') }}" /></a>
							</td>
							<th class="">
							 <a href="{{ url_for('bbs.list_detail', postid=post.id, page=1) }}" class="xst"  >{{ post.title }}</a>
							 {% if post.rate > 0 %}
							 - [Price <span class="xw1">{{post.rate}}</span> coins]
							 {% endif %}
							 {% if post.elite == 1 %}
							 <img src="{{ url_for('static', filename='foreground/images/digest_1.gif') }}" align="absmiddle" alt="digest" title="Essence" />
							 {% endif %}
{#							 <!--{if $val['addtime']>$newt}-->#}
{#							 <a href="" class="xi1">New</a>#}
{#							 <!--{/if}-->#}
							</th>
							<td class="by">
							<cite>Author: {{post.authorid}}</cite>
							<em><span class="xi1">{{ post.addtime }}</span></em>
							</td>
							<td class="num"><a href="" class="xi2">{{post.replycount}}</a><em>{{post.hits}}</em></td>
							<td class="by">
                                {% if reply_dict[post.id][0] %}
							    Author: {{ reply_dict[post.id][0] }}
                                {% endif %}
                                <br>
                                {{ reply_dict[post.id][1] }}
							</td>
						</tr>

					{% endfor %}
				</table>
				</form>
				</div>
				</div>
				
				<div class="bm bw0 pgs cl">
				<span  class="pgb y"><a href="{{ url_for("bbs.bbs_index") }}">Return</a></span>
				<a href="{{ url_for('bbs.publish_post', cid=classid) }}" id="newspecialtmp" title="New post"><img src="{{ url_for('static', filename = "foreground/images/pn_post.png") }}" alt="New post" /></a></div>
				<div style="width:800px; margin:0 auto; padding:10px 0px; text-align:right">
                    <a href="{{ url_for('bbs.list_category',cid=classid ,page=1) }}">Index</a>
                    {% if data["pre"] %}
                    <a href="{{ url_for('bbs.list_category',cid=classid ,page=data["pre"]) }}">Prev</a>
{#                    {% else %}#}
{#                    <a>Prev</a>#}
                    {% endif %}
                    {% if data["next"] %}
                    <a href="{{ url_for('bbs.list_category',cid=classid ,page=data["next"]) }}">Next</a>
                    {% endif %}

                    <a href="{{ url_for('bbs.list_category',cid=classid ,page=data["pages"]) }}">End</a>
                    | Total <span>{{ data["total"] }}</span> records |  show <span>{{ data['per_page'] }}</span> records per page |  <span>1-{{ length }}</span> record on this page  |  Page<span>{{ data['current'] }}/{{ data['pages'] }}</span>
				</div>
			</div>
		</div>
	</div>
</div>
<!--LIST end-->
{% endblock %}
<!--FOOT start-->
<!--{include footer.html}-->
<!--FOOT end-->
</body>
</html>

